body {
    font-family: "Roboto";
    margin: 0px;
}

li {
    all: unset;
}

ul {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: unset;
}

main {
    margin: 0vw;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

footer {
    margin: 0px;
}

.roc-image {
    display: flex;
    height: 9vh;
    padding: 0px 100px;
    margin-bottom: -200px;
}

.upper-header {
    display: flex;
    height: 9vh;
    background-color: #f0f0f7;
    align-items: center;
}

.lower-header {
    display: flex;
    height: 9vh;
    background-color: #ffffff;
    align-items: center;
}

.links-header {
    display: flex;
    margin-left: 10vw;
}

.link {
    color: #402e56;
    font-size: 3vh;
    font-weight: 700;
}

.image-coding-class {
    width: 100vw;
    border-bottom-right-radius: 250px;
}

.software-developer {
    font-size: 7vh;
    color: #402e56;
    font-weight: 800;
    margin: 50px 0px;
}

.software-developer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block {
    font-weight: 300;
    font-size: 1vw;
    width: 20vw;
    height: 34vh;
    padding: 2vh;
    outline: solid 2px black;
    border-radius: 20px;
}

.button {
    display: flex;
    background-color: #402e56;
    color: white;
    justify-content: flex-end;
    font-size: 1vw;
    font-weight: 500;
    padding: 1vh 1vw;
    border-radius: 50px;
    margin-left: 1vw;
}

.bedrijf {
    display: flex;
    margin-left: 60vw;
}

.text-blocks {
    display: flex;
    gap: 100px
}

.aanpassing p {
    font-size: 3vh;
}

.aanpassing img {
    height: 15px;
    margin-right: 5px;
}

.aanpassing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toelatingseisen p {
    font-size: 3vh;
}

.footer-bar {
    display: flex;
    margin-top: 10vh;
    background-color: #98d3ea;
    width: auto;
    height: 12vh;
    align-items: center;
    justify-content: center;
}

.footer-info {
    display: flex;
    font-size: 2vw;
    gap: 300px;
}

.footer-info li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #402e56;
    font-weight: 550;
}

.footer-info img {
    height: 3vh;
}

.alle-vakkenstudie {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #402e56;
}

.alle-vakkenstudie h1 {
    margin-top: 50px;
    font-size: 60px;
}

.alle-vakkenstudie p {
    font-size: 20px;
    max-width: 1000px;
    margin-top: 10px;
}

.alle-vakken {
    color: #402e56;
}

.servicecontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagetechno img {
    height: 300px;
}

.alle-vakken h1 {
    margin-top: 50px;
    font-size: 60px;
}

.alle-vakken h2 {
    margin-top: 50px;
    font-size: 60px;
}

.alle-vakken p {
    font-size: 20px;
    max-width: 500px;
}

.alle-progammeertalen {
    display: flex;
    color: #402e56;
    justify-content: space-around;
}

.alle-progammeertalen h1 {
    margin-top: 50px;
    font-size: 80px;
}

.alle-progammeertalen p {
    font-size: 20px;
    max-width: 600px;
}

.vak {
    display: flex;
    justify-content: space-around;
}

.generiek {
    display: flex;
    justify-content: center;
}

.generiek h1 {
    font-size: 90px;
}

.kernmodules {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.kernmodules h1 {
    font-size: 90px;
}

.oop-fe-be h2 {
    font-size: 60px;
    margin: 0px;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f7;
    border: solid 7px #98d3ea;
    border-radius: 50px;
    margin-top: 100px;
    height: 600px;
    width: 500px;
}

.background div {
    margin: 50px;
}

.input {
    width: 300px;
    height: 40px;
    border-radius: 13px;
    border: solid 2px #98d3ea;
    padding-left: 15px;
}

.vak h2 {
    margin-top: 20px;
}

.studieinfocontainer {
    display: flex;
    justify-content: center;
}

.studieinfo {
    max-width: 1000px;
}

.meld-aan {
    display: flex;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: solid 2px #98d3ea;
    background-color: #ffffff;
}

.main-back-aan {
    display: flex;
    justify-content: center;
}

.searchcontainer {
    display: flex;
    margin-left: 39vw;
}

.searchbar {
    border: solid 2px #98d3ea;
    height: 5vh;
    font-size: 1vw;
    width: 20vw;
    border-radius: 100px;
    padding-left: 120px;
}

.mag {
    display: flex;
    height: 3vh;
    margin-left: -19vw  ;
}

.title-bedrijf {
    display: flex;
    justify-content: center;
}