body {
    font-family: "Roboto";
    margin: 0%
}

li {
    all: unset;
}

ul {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: unset;
}

main {
    margin: 0vw;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

footer {
    margin: 0px;
}

.roc-image {
    display: flex;
    height: 10vh;
    width: 10vw;
    margin-top: 8vh;
}

.upper-header {
    display: flex;
    height: 9vh;
    width: 100%;
    background-color: #f0f0f7;
    align-items: center;
    justify-content: space-between;
}

.lower-header {
    display: flex;
    height: 9vh;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
}

.links-header {
    display: flex;
    margin-left: 10vw;
}

.link {
    color: #402e56;
    font-size: 3vh;
    font-weight: 700;
}

.links-header li {
    margin-left: 1vw;
}

.image-coding-class {
    width: 100%;
    border-bottom-right-radius: 20%
}

.software-developer {
    font-size: 7vh;
    color: #402e56;
    font-weight: 800;
    margin: 50px 0px;
}

.software-developer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block {
    font-weight: 300;
    font-size: 1vw;
    padding: 2vh;
    width: 20vw;
    height: auto;
    outline: solid 2px black;
    border-radius: 20px;
}

.about p {
    font-size: 2vh;
}

.button {
    display: flex;
    background-color: #402e56;
    color: white;
    font-size: 1vw;
    font-weight: 500;
    padding: 1vh 1vw;
    border-radius: 50px;
    margin-left: 1vw;
}

.buttons {
    display: flex;
}

.text-blocks {
    display: flex;
    justify-content: space-around;
    gap: 100px
    
}

.aanpassing p {
    font-size: 3vh;
}

.aanpassing img {
    height: 2vh;
    margin-right: 1vw;
}

.aanpassing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toelatingseisen p {
    font-size: 3vh;
}

.footer-bar {
    display: flex;
    margin-top: 10vh;
    background-color: #98d3ea;
    width: auto;
    height: 12vh;
    align-items: center;
    justify-content: center;
}

.footer-info {
    display: flex;
    font-size: 2vw;
    gap: 300px;
}

.footer-info li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #402e56;
    font-weight: 550;
}

.footer-info img {
    height: 3vh;
}

.alle-vakkenstudie {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #402e56;
}

.alle-vakkenstudie p {
    font-size: 3vh;
    max-width: 70vw;
    margin-top: 1vh;
}

.alle-vakken {
    color: #402e56;
}

.servicecontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-and-contact {
    font-size: 2vw;
}

.imagetechno img {
    height: 20vw;
}

.alle-vakken h2 {
    font-size: 3vw;
}

.alle-vakken p {
    font-size: 3vh;
    max-width: 30vw;
}

.alle-progammeertalen {
    display: flex;
    color: #402e56;
    justify-content: space-around;
}

.alle-progammeertalen h1 {
    margin-top: 50px;
    font-size: 80px;
}

.alle-progammeertalen p {
    font-size: 20px;
    max-width: 600px;
}

.vak {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.generiek {
    display: flex;
    justify-content: center;
}

.generiek h1 {
    font-size: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.kernmodules {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.kernmodules h1 {
    font-size: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.oop-fe-be h2 {
    font-size: 3vw;
    margin: 0px;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f7;
    border: solid 7px #98d3ea;
    border-radius: 50px;
    margin-top: 15vh;
    height: 60vh;
    width: 30vw;
}

.background div {
    margin: 5vh;
}

.input {
    width: 22vw;
    height: 5vh;
    font-size: 2vh;
    border-radius: 13px;
    border: solid 4px #98d3ea;
    padding-left: 15px;
}

.vak h2 {
    margin-top: 2vh;
}

.vak h3 {
    font-size: 3vh;
}

.studieinfocontainer {
    display: flex;
    justify-content: center;
    margin: 3vh;
}

.studieinfocontainer h1 {
    font-size: 5vw;
}

.meld-aan {
    display: flex;
    width: 8vw;
    height: 5vh;
    font-size: 2vh;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: solid 4px #98d3ea;
    background-color: #ffffff;
}

.main-back-aan {
    display: flex;
    justify-content: center;
}

.searchcontainer {
    display: flex;
    justify-content: flex-end;
}

.searchbar {
    border: solid 2px #98d3ea;
    height: 5vh;
    font-size: 1vw;
    width: 25vw;
    border-radius: 5vw;
    padding-left: 2vw;
}

.mag {
    display: flex;
    height: 3vh;
    margin-left: -19vw;
}

.title-bedrijf {
    display: flex;
    justify-content: center;
}

.title-bedrijf h1 {
    font-size: 5vw;
}